.header {
  background-color: #45818e;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 40px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerListItem a {
  text-decoration: none;
  color: inherit;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #16537e;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerBottomWrapper {
  text-align: center;
}